<header class="sheet-header flexcol">
	<div class="flexcol">
		{{ formGroup actorFields.name value=actor.name localize=true }}
		{{ formGroup systemFields.role value=system.role localize=true classes="armor" }}
	</div>
	<div class="flexcol">
		<div class="flexrow">
			<div style="max-width: 200px">
				<img class="profile-img" src="{{ actor.img }}"
					{{#if editable}}
						data-action="editImage"
						data-edit="img"
					{{/if}}
					data-tooltip="{{ actor.name }}"
					height="200" width="200"
					alt="{{ actor.name }}"
				>
			</div>
			<div class="cyberhack-stats-block">
				<ul>
					{{#each systemFields.attributes}}
						<li>{{ formGroup fields.base value=(lookup (lookup @root.system.attributes this.name) "base") localize=true }}</li>
					{{/each}}
				</ul>
			</div>
			<div class="cyberhack-stats-block">
				<ul>
				{{#each system.attributes as |attr key|}}
					<li>
						<div class="form-group attribute" data-attribute="{{key}}">
							<a class="label roll-attribute" data-action="rollAttribute">{{localize (concat "cyberhack.Actor.Character.FIELDS.attributes." @key ".base.label")}}</a>
							<span class="value">{{attr.value}}</span>
						</div>
					</li>
				{{/each}}
				</ul>
			</div>
			<div class="panel-right">
				<div class="secondary-block">
					<div class="flexrow center">
						<div class="stat">
							<label>Carry</label>
							<span>{{system.carry}} kg</span>
						</div>
						<div class="stat">
							<label>Speed</label>
							<span>{{system.speed}} m</span>
						</div>
						<div class="stat">
							<label>BTM</label>
							<span>{{system.btm}}</span>
						</div>
					</div>
				</div>
				<div class="armor-block">
					<div class="flexrow center">
						{{ formGroup systemFields.armor.fields.head value=system.armor.head localize=true classes="armor" }}
						{{ formGroup systemFields.armor.fields.torso value=system.armor.torso localize=true classes="armor" }}
						{{ formGroup systemFields.armor.fields.left_arm value=system.armor.left_arm localize=true classes="armor" }}
						{{ formGroup systemFields.armor.fields.right_arm value=system.armor.right_arm localize=true classes="armor" }}
						{{ formGroup systemFields.armor.fields.left_leg value=system.armor.left_leg localize=true classes="armor" }}
						{{ formGroup systemFields.armor.fields.right_leg value=system.armor.right_leg localize=true classes="armor" }}
					</div>
					<div class="flexrow center">
						<div>1</div>
						<div>2-4</div>
						<div>5</div>
						<div>6</div>
						<div>7-8</div>
						<div>9-10</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>