<section>
	<h1>STATBLOC</h1>
	{{ actor.system.testInt }}
	{{actor.system.testCharacter}}


	{{ formGroup systemFields.testInt value=actor.system.testInt localize=true }}

	{{ formGroup systemFields.testString value=actor.system.testString localize=true}}
	<ol>
	{{#each systemFields.attributes }}

		<li>{{ formGroup this value=this }}</li>
	{{/each}}
	</ol>
</section>