<section class="standard-form tab scrollable {{tab.cssClass}}" data-group="primary" data-tab="talents">
	<ol class="items-list talents-list">
		{{#each talents as |talent id|}}
			<li class="item talent-item flexrow" data-item-id="{{talent.id}}">
				<img src="{{talent.img}}" alt="{{talent.name}}" class="item-image">

				<div class="item-name">
					<h4>
						<a class="item-control item-edit" data-item-id="{{talent.id}}">
							{{talent.name}}
						</a>
					</h4>
					<div class="item-details">
						Niveau {{talent.system.level}} • Coût {{talent.system.xpCost}} XP
					</div>
				</div>

				<div class="item-controls">
					<a class="item-control item-delete"
					   data-action="deleteItem"
					   data-item-id="{{talent.id}}"
					   title="Supprimer">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</li>
		{{/each}}
	</ol>

	{{#if talents.length}}
	{{else}}
		<p class="no-items">Aucun talent acquis.</p>
	{{/if}}
</section>