<section class="sheet-body">
	{{#if (not @root.isEditing) }}
		<p class="card-body">
			{{#if (eq system.effect "adv") }}
				{{localize "cyberhack.Item.Talent.HTMLtext.effect.adv" }}
			{{else}}
				{{localize "cyberhack.Item.Talent.HTMLtext.effect.des" }}
			{{/if}}
			<strong>{{ system.skill }}</strong>
			when {{ system.condition }}
		</p>
		<div class="card-bottom">
			{{ system.description }}
		</div>
	{{else}}
		<div>
			<div class="form-fields">
				{{ formGroup systemFields.xpCost value=system.xpCost localize=true disabled=(not @root.isEditing) }}
			</div>
			<div class="form-fields">
				{{ formGroup systemFields.effect value=system.effect localize=true disabled=(not @root.isEditing) }}
			</div>
			<div class="form-fields">
				{{ formGroup systemFields.condition value=system.condition localize=true disabled=(not @root.isEditing) }}
			</div>
			<div class="form-fields">
				{{ formGroup systemFields.skill value=system.skill localize=true disabled=(not @root.isEditing) }}
			</div>
			<div class="form-fields">
				{{ formGroup systemFields.description value=system.description localize=true disabled=(not @root.isEditing) }}
			</div>
		</div>
	{{/if}}
</section>
