<form class="cyberhack item-sheet talent-sheet" autocomplete="off">
	<section class="sheet-body">
		<div class=" item-edit">
			<div class="form-group">
				{{ formGroup systemFields.description localize=true}}
			</div>
			<div class="flexrow">
				<div class="form-grid">
					{{ formGroup systemFields.xpPrice localize=true}}
				</div>
				<div class="form-grid">
					{{ formGroup systemFields.level localize=true}}
				</div>
			</div>
		</div>
		<div class="item-read">
			<div class="form-group">
				<label>{{localize "cyberhack.Item.FIELDS.description.label" }}</label>
				{{ item.system.description }}
			</div>
			<div class="flexrow">
				<div class="form-grid">
					{{ item.system.xpPrice }}
				</div>
				<div class="form-grid">
					{{ item.system.level }}
				</div>
			</div>
		</div>
	</section>
</form>